.container {
  background: #c4c4c4;
  width: 635px;
  height: 516px;
  display: flex;
  flex-direction: column;
}

.m5 {
  margin: 5px;
}
p {
  margin: 0;
  padding: 0;
}

.nav {
  background: #efeaea;
  height: 47px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}
.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 21px;
  font-weight: 600;
  color: #747171;
  width: 80%;
}
.status-header-online {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 58px;
  font-size: 11px;
  font-weight: 600;
  color: #747171;
}
.online {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #44fb04;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.25);
}
.menu-header {
  cursor: pointer;
  display: flex;
}

.footer {
  background: grey;
  height: 59px;
  font-family: Roboto, sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #fffdfd;
  display: flex;
  justify-content: center;
  align-items: center;
}
.work-area {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.title {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #484848;
  font-weight: 500;
}

.branches {
  background: #e7e5e5;
  width: 100%;
  border-radius: 5px;
  margin-right: 5px;
  padding: 10px;
}
.branches-container {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-bottom: 10px;
}
.branch-card {
  width: 267px;
  height: 101px;
  background: #c4c4c4;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}
.branch-card-legend {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.branch-card-legend span {
  font-family: Roboto, sans-serif;
  margin-left: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #747171;
}
.branch-card-center {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.branch-card-legend input {
  line-height: 13px;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  width: auto;
}
.edit-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.branch-input {
  width: auto;
  border-radius: 3px;
  border-style: none;
  background: #dddcdc;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  padding: 3px;
}
.branch-input-short {
  width: 67px;
  border-radius: 3px;
  border-style: none;
  background: #dddcdc;
  font-size: 12px;
  font-family: Roboto, sans-serif;
  padding: 3px;
}
.branch-card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-content: flex-start;
  align-items: flex-end;
}
.branch-card-info img {
  width: 20px;
  margin-top: 5px;
  margin-right: 5px;
}
.branch-info {
  background: #d9d6d6;
  width: 100%;
  border-radius: 5px;
  margin-left: 5px;
  padding: 10px;
}
.branch-edit-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #589aa9;
  border: 1px solid #4c8794;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  color: white;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}
.branch-edit-btn img {
  width: 15px;
  margin-left: 10px;
}
.branch-actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 15px;
}
.action-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background: #e8e6e6;
  border: 2px solid #7a7979;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 14px;
  color: #747171;
  cursor: pointer;
}
.action-btn img {
  width: 17px;
  margin-left: 5px;
}
.branch-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.branch-info-header img{
    cursor: pointer;
}

.branch-info-form {
  display: flex;
  flex-direction: column;
}
.branch-info-form label {
  font-size: 10px;
  font-family: Roboto, sans-serif;
  line-height: 21px;
}
.branch-info-form input {
  padding: 0;
  padding-left: 5px;
  line-height: 22px;
}
.right {
  justify-content: space-between;
}
.info-text{
    margin-top: 10px;
}

.info-text h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;

  color: #484848;
}
.info-text p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;

  color: #737373;
}
